<!DOCTYPE html>
<html lang="en">
<!--
___________.__              .__                                  
\_   _____/|__| ______ _____|__| ____                            
 |    __)  |  |/  ___//  ___/  |/  _ \                           
 |     \   |  |\___ \ \___ \|  (  <_> )                          
 \___  /   |__/____  >____  >__|\____/                           
     \/            \/     \/                                     
________  ________     ________   _______________  ____  ______  
\_____  \ \_____  \   /   __   \  \_____  \   _  \/_   |/  __  \ 
 /  ____/   _(__  <   \____    /   /  ____/  /_\  \|   |>      < 
/       \  /       \     /    /   /       \  \_/   \   /   --   \
\_______ \/______  / /\ /____/ /\ \_______ \_____  /___\______  /
        \/       \/  \/        \/         \/     \/           \/

Fyysikkokillan perinteinen puolivuotisjuhla tekee paluun entistä ehompana. Stay tuned!
 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Return of the Fissio</title>

    <link rel="icon" href="img/pellefii_black.png" sizes="192x192" />

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/fissio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</head>

<body>
    <div class="bgimg"></div>
    <div class="middle">
        <img class="fii" src="img/pellefii.png" />
        <h1 class="header">Fissio tulee, tulethan sinäkin?</h1>
        <h1 id="countdown"></h1>
    </div>
    <script src="js/fissio.js"></script>
</body>
</html>
