<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Fyysikkokillan vuosijuhlan ilmoittautuminen"
    />
    <meta name="author" content="Einari Tuukkanen, Fyysikkokilta" />

    <title>Fuusio 73</title>

    <link rel="icon" href="img/73favicon.png" sizes="192x192" />

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/fuusio73.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link
      href="vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap"
      rel="stylesheet"
    />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="text-backdrop"></div>

    <!-- Main Content -->
    <div class="container">
      <div class="header">
        <img class="header-logo" src="img/Fuusio73_with_slogan.png" />
        <!-- <h1>
          Fuusio 73
        </h1> -->
        <!-- <h2>
                14.3.2020
            </h2> -->
      </div>

      <!-- <img style="width:50%" src="https://b.kisscc0.com/20180813/rjq/kisscc0-art-nouveau-ornament-visual-arts-art-deco-face-design-5b7218ca7ffa34.4524895715342041065242.png"/> -->

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <br />
          <p>
            Tänä vuonna Fuusio kuljettaa kaikki fyysikot ja fyysikonmieliset
            satujen ja myyttien maailmaan. Uskallatko heittäytyä tarinan
            vietäväksi? Seikkailu odottaa vain muutaman askeleen päässä.
          </p>

          <p>
            Tämä on ilmoittautuminen Fyysikkokillan 73-vuotisjuhlaan Fuusioon
            lauantaina 14.3.2020. Juhlaan voivat ilmoittautua Fyysikkokillan
            nykyiset jäsenet ja alumnit, heidän avecinsa sekä kutsuvieraat.
          </p>

          <p>
            Kutsuvieraiden ilmoittautuminen aukeaa tiistaina 4.2. klo 12 ja
            sulkeutuu sunnuntaina 16.2. klo 23.59. Kiltalaisten ja alumnien
            ilmoittautuminen avautuu maanantaina 17.2. klo 12 ja sulkeutuu 24.2.
            klo 23.59. Pääjuhlassa on tilaa noin 155 juhlijalle, mutta
            ilmoittautua kannattaa myös varasijoille.
          </p>

          <p>
            Juhlan hinta on 75€ opiskelijoille ja 90€ valmistuneille.
            Silliaamiaisen hinta on 20€. Maksutiedot saapuvat ilmoittautumisen
            jälkeen sähköpostitse.
          </p>

          <p>
            Huomioithan, että ilmoittautuneiden nimet julkaistaan tällä sivulla.
            Tarkistathan, että ilmoittautumisen jälkeen myös oma nimesi on
            ilmestynyt listaan.
          </p>

          <p>
            Mahdollisten avecien on ilmoittauduttava erikseen!
            Ilmoittautumisessa kysyttävää avec-tietoa käytetään vain
            istumajärjestyksen tekemiseen.
          </p>

          <br />
          <h3>Juhlan aikataulu</h3>

          Lauantai 14.3.2020
          <ul>
            <li>
              15.00 Cocktail-tilaisuus, Y-siiven yläaula, Otakaari 1, Espoo
            </li>
            <li>18.30 Pääjuhla, G18-juhlasali, Yrjönkatu 18, Helsinki</li>
            <li>23.30 Jatkot, Paikka X</li>
            <li>
              01.00 - 04.00 Jatkoilta lähtee busseja tasatunnein Otaniemeen.
              Yksi busseista ajaa myös Kamppiin.
            </li>
          </ul>

          <p>
            <i
              >Bussikuljetukset cocktail-tilaisuudesta pääjuhlaan, jatkoille ja
              jatkoilta takaisin Otaniemeen tai Kamppiin sisältyvät
              osallistumismaksuun.</i
            >
          </p>

          Sunnuntai 15.3.2020
          <ul>
            <li>
              12.00-18.00 Silliaamiainen, Trap Factory, Metallimiehenkuja 6 D,
              Espoo
            </li>
          </ul>

          <p>
            Tarkempi tapahtumakuvaus
            <a
              href="https://www.facebook.com/events/328479514447434/"
              target="_blank"
              >Fuusio 73 Facebookissa</a
            >.
          </p>

          <p>
            Jos sinulla on kysymyksiä ilmoittautumisesta tai juhlasta, lähetä
            sähköpostia
            <a href="mailto:fuusio@fyysikkokilta.fi">fuusio@fyysikkokilta.fi</a
            >. Juhlan maksamiseen liittyvissä kysymyksissä ota yhteyttä
            sähköpostilla
            <a href="mailto:rahastonhoitaja@fyysikkokilta.fi"
              >rahastonhoitaja@fyysikkokilta.fi</a
            >.
          </p>

          <p>Nähdään Fuusiossa!</p>
        </div>
      </div>
      <div id="registrationButtonContainer" class="row hidden">
        <div
          class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center"
        >
          <a id="registrationButton" href="/registration">
            <button type="button" class="btn-outline btn-default">
              <span>Ilmoittaudu!</span>
            </button>
          </a>
          <!-- <p id="registrationEndedDisclaimer">
            Ilmoittautuminen on päättynyt. Tarvittaessa ota yhteys
            Fuusiovastaaviin sähköpostitse
            <a href="mailto:fuusio@fyysikkokilta.fi">fuusio@fyysikkokilta.fi</a>
          </p> -->
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center"
        >
          <h2 class="section-heading">Yhteistyössä</h2>
          <br />
          <div class="row">
            <div class="col-lg-4 company" style="min-height: 100px">
              <a href="https://www.fitpanda.fi/" target="_blank">
                <img height="100px" src="img/fitpanda2.png" />
              </a>
            </div>
            <div class="col-lg-4 company" style="min-height: 100px">
              <a href="https://www.bluefors.com/" target="_blank">
                <img height="100px" src="img/bluefors.png" />
              </a>
            </div>
            <div class="col-lg-4 company" style="min-height: 100px">
              <a href="https://www.academicwork.fi/" target="_blank">
                <img height="100px" src="img/aw.png" />
              </a>
            </div>
            <!-- <div class="col-lg-6" style="min-height: 100px">
              <a href="https://www.fyysikkoalumni.fi/" target="_blank">
                <img width="150px" src="img/alumni.png" />
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div
          class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center"
        >
          <h2 class="section-heading">Kutsuvieraat</h2>
          <table id="registeredInviteGuests" class="table">
            <thead>
              <tr class="tableRow">
                <th class="text-center">#</th>
                <th class="text-center table-mobile-friendly">Nimi</th>
                <th class="text-center table-mobile-friendly">Pöytäseurue</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center"
        >
          <h2 class="section-heading">Kiltalaiset/avecit</h2>
          <table id="registeredGuildMembers" class="table">
            <thead>
              <tr class="tableRow">
                <th class="text-center">#</th>
                <th class="text-center table-mobile-friendly">Nimi</th>
                <th class="text-center table-mobile-friendly">Pöytäseurue</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul class="list-inline text-center">
              <li>
                <a
                  class="facebook-icon"
                  href="https://www.facebook.com/events/328479514447434/"
                  target="_blank"
                >
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">
              Copyright &copy; Fyysikkokilta 2016-2020
            </p>
          </div>
        </div>
      </footer>
    </div>

    <br />

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Registration Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom JavaScript -->
    <script src="js/config.js"></script>
    <script src="js/welcome.js"></script>
  </body>
</html>
